
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9FBCA9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  text-align: center;
  margin:auto;
}
input{
  text-align: left;
}
.searchdrink{
  height:auto;
  max-height: 10em;
  margin-top: 1em;
  margin-bottom: 1em;
  width:50vw;
}
.drink-container{
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1vh;
  margin-bottom: 1em;
}
.drinkcard{
  background-color:#c5c5e7c5;
  display:flex;
  flex-direction:column;
  align-content: center;
  width:auto;
  max-width: 30vh;
  max-height: fit-content;
  padding-bottom: 1em;
  border-radius: 10px;
  margin-top:1em;
  box-shadow: gray -3px 3px 2px 2px;
}
.drinkcard:hover{
  box-shadow:gray -3px 3px 3px 3px;
  cursor:pointer;
}
.drink-img{
  border-top-left-radius: 10px;
  border-top-right-radius:10px ;
  padding-bottom: .25em;
  object-fit:contain;
  max-width:100%;
}
.hide{
  display: none;
}
.links{
  max-width: 30em;
  width:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1vh;
}
.login{
  display: flex;
  flex-direction: column;
  background-color: #c5c5e7c5;
  width:fit-content;
  max-width: 100vw;
  padding:10px;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  margin-top: 10px;
  border-radius: 10px;
}
.loginbtns{
  width: 80%;
  display: flex;
}
.navbar{
  background-color: #78BA7F;
  padding: 10px;
  position: fixed top;
  margin-bottom:1em;
}
.searchtypebtn{
  display: flex;
  max-width: 20em;
  width:auto;
  justify-content: space-between;
  flex-wrap: wrap;
  -ms-flex-align: center;
}
.fulldrink{
  background-color: #c5c5e7c5;
  display:flex;
  flex-direction: column;
  align-content: center;
  width:94vw;
  max-width: 100vw;
  max-height: fit-content;
  border-radius: 10px;
  margin:auto;
  margin-top: 1em;
  box-shadow: gray -3px 3px 2px 1px;
}
.fulldrink-img{
  object-fit: contain;
  max-width:100%;
  max-height: 50vh;
  border: black 1px solid;
  border-radius: 10px;
  margin-right:.5em;
}
.fullDrinkDetails{
  margin: .5em;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.ingredient{
  text-align: left;
}
.closebtn {
  text-decoration: underline;
  position: relative;
  float: right;
  background: none;
  border: none;
  top: 10px;
  right: -45%;
}
.closebtn:hover{
  cursor: pointer;
}
.drinkInstructions{
  display: flex;
  width: 50% ;
  margin-left: 2em;
}
.searchBtn{
  border:none;
}
input{
  border:none;
}
.searchdrinkinput{
  width: 30vw;
}

  @media screen and (min-width:992px) {
    .fulldrink{
      width: 60vw;
    }
    .searchdrink{
      width: 75vh;
    }
  }