body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  text-align: center;
  margin:auto;
}
.searchdrink{
  height:9vh;
  margin-top: 2%;
}
.drink-container{
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
.drink{
  background-color:gray;
  display:flex;
  flex-direction:column;
  align-content: center;
  width:auto;
  max-width: 30vh;
  max-height: fit-content;
  padding-bottom: 1vh;
  border-radius: 10px;
}
.drink-img{
  border-top-left-radius: 10px;
  border-top-right-radius:10px ;
  padding-bottom: 1vh;
  object-fit:contain;
  max-width:100%;
}
.hide{
  display: none;
}
.links{
  max-width: 20vw;
  display: flex;
  padding-top: 1vh;
}
.login{
  display: flex;
  flex-direction: column;
  background-color: gray;
  max-width: fit-content;
  padding:10px;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  margin-top: 10px;
  border-radius: 10px;
}
.navbar{
  background-color: lightblue;
  padding: 10px;
}
